@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheethttps://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: white;
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;

}
/*Navbar*/
.logo {
    position: relative;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover, .navbar a.active{
    color: #14b121;
}
/*section*/
.home {
    background: url('assets/image/home.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
    line-height: 1.2;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #03ac11;
}


.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px 0;
}


/*buy & dex btn */
.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #03ac11;
    border: 2px solid #03ac11;
    border-radius: 8px;
    color: #081b29;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

/*buy & dex btn effects */
.btn-box a:nth-child(1) {
    transition: .3s;
}
.btn-box a:nth-child(1):hover {
    color:#03ac11;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color:#03ac11;
    transition: 0.3s;
}
.btn-box a:nth-child(2):hover {
    color:#081b29;
}
.btn-box a:nth-child(2)::before {

    background: #03ac11;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0%;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .3s;

}
.btn-box a:hover::before {
    width: 100%;
}
/*social buttons*/
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.home-sci a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    text-decoration: none;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
}
.home-sci a:hover {
    color: #081b29;
}
.home-sci a::before {

    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.3s;
}
.home-sci a:hover::before {
    width:100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width:700px;
    height: 100%;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 2s;
    pointer-events: none;
}

.home-imgHover:hover {
    position: absolute;
    top: 0;
    right: 0;
    background: #081b29;
    opacity: 0.8;
}

/*KEYFRAMES ANIMATION*/
.logo::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.home-content h1::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
}
.home-content h3::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}
.home-content p::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content .btn-box::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}
.home-sci::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
    z-index: 2;
}
.home-imgHover::after {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    background:#081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
    z-index: 100;
}

@keyframes showRight {
    100% {
        width:0;
    }
}
@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}